
<div id="planrepas">
    <h1>Ajouter un plan</h1>

    <div class="divider"></div>

    <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
      <thead class="header">
        <th class="contentCell">numéro planrepas</th>
        <th class="contentCell">catégorie</th>
        <th class="contentCell">fréquence</th>
        <th class="contentCell">nombre de personnes</th>
        <th class="contentCell">calories</th>
        <th class="contentCell">prix</th>
        <th class="contentCell">numéro fournisseur</th>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans; let i = index">
          <td class="contentCell" contenteditable="true" >{{ plan.number}}</td>
          <td class="contentCell" contenteditable="true" >{{ plan.category }}</td>
          <td class="contentCell" contenteditable="true" >{{ plan.frequency }}</td>
          <td class="contentCell" contenteditable="true" >{{ plan.persons }}</td>
          <td class="contentCell" contenteditable="true" >{{ plan.calories }}</td>
          <td class="contentCell" contenteditable="true" >{{ plan.price }}</td>
          <td class="contentCell" contenteditable="true" >{{ plan.numberF }}</td>
        </tr>

        <tr class="blank_row">
          <td class="contentCell" contenteditable="true" placeholder="211" #newNumber></td>
          <td class="contentCell" contenteditable="true" placeholder="1" #newCategory></td>
          <td class="contentCell" contenteditable="true" placeholder="1" #newFrequency></td>
          <td class="contentCell" contenteditable="true" placeholder="1" #newPersons></td>
          <td class="contentCell" contenteditable="true" placeholder="200" #newCalories></td>
          <td class="contentCell" contenteditable="true" placeholder="20" #newPrice></td>
          <td class="contentCell" contenteditable="true" placeholder="111111" #newVendorNumber></td>
          <td class="contentCell"></td>
      </tr>
      <mat-dialog-actions>
        <button type="button" class="btn" (click)="insertPlan()">Insert</button>
      </mat-dialog-actions>
      </tbody>
    </table>

  </div>
