<div id="guest">
  <h1>Modifier un plan</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="hotelSelect">Hotel</label>
      </div>

    </div>
  </div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="roomSelect">Room</label>
      </div>


    </div>
  </div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">GUEST NUMBER</th>
      <th class="contentCell">NAS</th>
      <th class="contentCell">NAME</th>
      <th class="contentCell">GENDER</th>
      <th class="contentCell">CITY</th>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
