.error{
    background-color: rgb(255, 255, 255);
    position: relative;
}

.closeButton {
    background-color: transparent;
    border-style: none;
    background-color: #d6d6d6;
    margin-bottom: 0%;
    color: black;
  }