<div id="planrepas">
  <h1>Planrepas</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">numéro planrepas</th>
      <th class="contentCell">catégorie</th>
      <th class="contentCell">fréquence</th>
      <th class="contentCell">nombre de personnes</th>
      <th class="contentCell">calories</th>
      <th class="contentCell">prix</th>
      <th class="contentCell">numéro fournisseur</th>
    </thead>
    <tbody>
      <tr *ngFor="let plan of plans; let i = index">
        <td class="contentCell"  >{{ plan.number}}</td>
        <td class="contentCell"  >{{ plan.category }}</td>
        <td class="contentCell"  >{{ plan.frequency }}</td>
        <td class="contentCell"  >{{ plan.persons }}</td>
        <td class="contentCell"  >{{ plan.calories }}</td>
        <td class="contentCell"  >{{ plan.price }}</td>
        <td class="contentCell"  >{{ plan.numberF }}</td>
      </tr>
    </tbody>

  </table>
  <button class="btn" (click)="openDialogAjouter()"> Ajouter </button>
  <button class="btn" (click)="openDialogModifier()"> Modifier </button>
  <button class="btn" (click)="openDialogSupprimer()"> Supprimer </button>

</div>
